{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">

{% endblock %}

{% block content %}

<div class="container-stories">
    <h4> Author Profile<h4>
        <div style="font: small">
            <h4> Profession: Maltese Poddle</h4>
            <h4> Employer: No Puppy Farm Inc</h4>
            <h4> Educational History: K9 Training</h4>
            <h4>Programing Expertise: Django</h4>
            <h4>She Codes Program: Pup Plus</h4>
        </div>
</div>
<br>
<br>
<br>
    
<div class="container-stories">
    <h3>Author Stories</h3>
        <div id="all-stories">
                {% if all_stories %}
                    {% for story in all_stories %}
                    {% include "news/storyCard.html" with story=story %}
                    {% endfor %}
                {% else %}
                    <p>No stories are available.</p>
                {% endif %}
        </div>
    </div>
{% endblock %}