{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">

{% endblock %}

{% block content %}

<h3>Author Stories</h3>
<div class="al-container-stories" style="display: inline-block">
    <div class="all-stories">
        {% if all_stories %}
            {% for story in all_stories %}
            {% include "news/storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
     </div>
</div>
{% endblock %}