{% load static %}
<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>She Codes News</title>
        <meta name="description" content="">
        <meta name="author" content="Sandra Hanlen">
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <header>
            <div id="header-text">
                <a id="header-link" href="{% url 'news:index' %}">
                    <h1 style="text-align: center">She <span style="color: #FFA300">{Codes}</span> News</h1>
                </a>
            </div>
            <div>
                {% if request.user.is_authenticated %}
                    <a href="#">{{ user.username }}</a>
                    <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}">Sign In</a>
                {% endif %}
            </div>
        </header>

        {% include "./banner.html" %}
        <nav>
        {% include './nav.html' %}<!-- include nav here -->
        </nav>

        {% block content %}{% endblock %}   <!-- content blocks here -->
    </body>
    
</html>
