@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');


/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: url("./images/background_img.jpeg");
  
    /* Set a specific height */
    height: 50vh;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-image:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(158, 54, 184, 0.719);
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  /* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

  /* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

body {
    background-color: #E6E6FA;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    background-color: white;
}
.header-text {
    justify-content: center;
}

.form-section {
    position: relative;
    margin: 8% auto;
    min-height: 60%;
    width: 50%;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.6);
    background: white;
    padding: 0px 0px 5px 15px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #8246af;
}

.form-item {
    display: block;
    margin: 0px 0px 15px 20px;
    padding: 4px;
    width: 80%;
    height: 5%;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-size: 12px;

}

.form-button {
    background: dodgerblue;
    color: white;
    margin: 10px 20px;
    width: 80%;
    height: 8%;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 2rem;
    margin: 0;
    color: #8246af;
    display: middle;
    text-align: center;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #8246af;
}

h3 {
    font-size: auto;
    margin: 0;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
}

h4 {
    color: rgb(233, 52, 250);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: auto;
    margin-top: -1px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
}

h6 {
    font-size: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.author-header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    font-size: auto;
    margin-top: 0;
    color: #8246af;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
}
#header-text {
    flex-basis: 80%;
    display: flex;
}

.form-header {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 2rem;
    margin: 0;
    color: #8246af;
    display: flex; 
    justify-content: center;
}

.form-item {
    color: whitesmoke;
}

nav {
    flex-basis: 20%;
    display: inline;
    align-items: center;
    justify-content: flex-start;

}
nav text {
    font-family: 'Courier New', Courier, monospace;
    color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8246af;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #FFA300;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: monospace;
}

.new-story {
    padding: 20px;
    font-size: 20px;
    color: #8246af;
}

.profile-container {
    margin: 2px;
    border: 1px solid #000;
    padding: 5px;
}

.img-container {
    width: 100%;
    height: 300px;
    object-fit: cover
}

