@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    background-color: white;
}

img {
    filter: grayscale(100%);
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 2rem;
    margin: 0;
    color: #8246af;
    text-align: center;
}

.glowup {
    font-family: "Satisfy", Sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    color-adjust: #ffba00;
    text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 21px #ffa300, 0 0 41px #ffa300, 0 0 46px #ffa300, 0 0 50px #ffa300, 0 0 75px #ffa300;
}

h2 {
   font-family: 'Montserrat Subrayada', sans-serif; 
   color: #8246af;
}

h3 {
    font-size: 2rem;
    margin: 0;
    color: #8246af;

}

h4 {
    color: #8246af;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: monospace;
}
