@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    background-color: white;
}
.header-text {
    justify-content: center;
}


.form-section {
    position: relative;
    margin: 8% auto;
    min-height: 60%;
    width: 50%;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.6);
    background: white;
    padding: 0px 0px 5px 15px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #8246af;
}

.form-item {
    display: block;
    margin: 0px 0px 15px 20px;
    padding: 4px;
    width: 80%;
    height: 5%;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-size: 12px;

}

.form-button {
    background: dodgerblue;
    color: white;
    margin: 10px 20px;
    width: 80%;
    height: 8%;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;


}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 2rem;
    margin: 0;
    color: #8246af;
    display: middle;
}

h2 {
   font-family: 'Montserrat Subrayada', sans-serif; 
   color: #8246af;
}

h3 {
    font-size: 2rem;
    margin: 0;
    color: #8246af;

}

h4 {
    color: rgb(233, 52, 250);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    padding-top: -100px;
}

h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    font-size: x-large;
}
#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: inline;
    align-items: center;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8246af;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: monospace;
}


