.container-stories {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    flex: 200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 16px #8246af(0, 0, 0, 0.6);
}

.story-card {
    margin: 2px;
    border: 1px solid #000;
    padding: 5px; 
    width: 200px;
    height: 300px;
    display: block;
    object-fit: cover;
    overflow: hidden;
    float: center;
    background-color: aliceblue;

}
.story-card img {
    width: 100%;
    object-fit: fill; 
} 

#story-content {
    text-align: justify;
}

.al-container-stories {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
