.container-stories {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: auto;
    flex-wrap: wrap;
}

.story-card {
    margin: 2px;
    border: 1px solid #000;
    padding: 5px; 
    width: 30%;
    height: auto;
    display: block;
}
.story-card img {
    width: 100%;
    object-fit: cover; 
} 

#story-content {
    text-align: justify;
}

