.container-stories {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    flex: 200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 16px #8246af(0, 0, 0, 0.6);
    background-color: pink;
}

.story-card {
    margin: 2px;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 5px; 
    width: 200px;
    height: 300px;
    display: block, flex;
    object-fit: cover;
    overflow: hidden;
    float: center;
    background-color: aliceblue;
    box-sizing: border-box;

}
.story-card img {
    width: 90%;
    border-radius: 15px;
    object-fit: fill; 
    margin-left: auto;
    justify-content: center;
} 

#story-content {
    text-align: justify;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;

}

.al-container-stories {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: wheat;
}

@media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  
    .img {
      width: 100%;
      height: 100%;
    }
    #middle-text {
      width:100%
    }
  }
  
  @media (min-width: 500px) {
    .column1 .column2 .column3 {
      display: inline-block;
      width: 44%;
    }
  
    .img {
      width: 44%;
    }
  
    #middle-text {
      width: 44%;
      text-overflow: initial;
    }
  
  }