.container-stories {
    display: flex; 
    justify-content: space-evenly;
    width: 50%;
    height: auto;
    flex-wrap: wrap;
    padding: 40px, 20px;
}

.story-card {
    margin: 2px;
    border: 1px solid #000;
    padding: 5px; 
    width: 30%;
    height: auto;
    display: block;
    max-height: 400px;
    min-height: 280px;
}
.story-card img {
    width: 100%;
    object-fit: cover; 
} 

#story-content {
    text-align: justify;
    position: relative;
}

