{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">

{% endblock %}

{% block content %}
    
    <h3>Latest News</h3>

    <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
            {% include "./storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
        
    </div>

    <a class="new-story" href="{% url 'news:newStory' %}">
        <div class="container">
            <div class="center">
              <button class="btn">
                <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
                  <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                  <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
                </svg>
                <span>HOVER ME</span>
              </button>
            </div>
          </div>

    
    <div id="all-stories">
        {% if all_stories %}
            {% for story in all_stories %}
            {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>



{% endblock %}


